# Credenciais da Quotex
# NUNCA suba esse arquivo para o GitHub!
QUOTEX_EMAIL=contabmads01@gmail.com
QUOTEX_PASSWORD=Pedrophc7.

# URL do backend (necessário apenas se o frontend for hospedado na Vercel e o backend em outro lugar)
# Exemplo: https://meu-backend-quotex.onrender.com
VITE_API_URL=https://strategy-dashboard-7.vercel.app
